<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- ============================ top navbar =========================== -->
    <nav class="navbar">
        <div class="nav_log"><img src="/static/img/logo.jpg" alt=""></div>
        <ul class="navlist">
            <li class="item"><a href="#home" class="active">Home</a></li>
            <li class="item"><a href="#about">About</a></li>
            <li class="item"><a href="#Products">Products</a></li>
            <li class="item"><a href="#contact">Contact</a></li>
			<a href="tel:7217605495" class="button_active"> <i class="fa-sharp fa-solid fa-phone"></i></a>          
        </ul>
        <div class="button">Login</div>
		<div class="active_nav">
		<i class="fa-solid fa-bars"></i>
		</div>
    </nav>
</body>
</html>